SUPABASE_URL=https://eeelkwpacosxfqhyruzh.supabase.co\nSUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVlZWxrd3BhY29zeGZxaHlydXpoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0NDQ4NzA4MCwiZXhwIjoyMDYwMDYzMDgwfQ.kH6A9egwE8hJahmNv27pVx8TZ4-w9vqMOUI7giH1CVk
